altgraph==0.17.5
charset-normalizer==3.4.4
et_xmlfile==2.0.0
openpyxl==3.1.5
packaging==26.0
pefile==2024.8.26
pillow==12.1.1
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.0
pywin32-ctypes==0.2.3
reportlab==4.4.10
setuptools==82.0.0
